# INTRODUCTION TO SKLEARN

Content:

0.end to end sklearn workflow

1.getting the data ready

2.choose the right algorithm

3.fit the model and use it to make predictions on our data

4.evaluating the model

5.improve a model

6.save and load a trained model

7.putting it all together

# 0.An end-to-end sklearn workflow

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [24]:
#create X (features matrix) removing target column and storing the dataset in X
X = heart_disease.drop("target",axis=1)

# create y (lables) string target values in y
y=heart_disease["target"]

In [25]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [26]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [27]:
# 2. choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()

# keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [28]:
# 3.fit the model to the data

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

# 0.2 means 20%of the data is left for testing and 80% is used for training

In [29]:
clf.fit(  X_train,y_train  )

RandomForestClassifier()

In [30]:
#make prediction

# y_label=clf.predict(np.array([0,2,3,4]))

# above will not work because machine did not learn to the shape of np array 

# thus we will use the testing data as the shape will be same as the training data.

In [31]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3
177,64,1,2,140,335,0,1,158,0,0.0,2,0,2
284,61,1,0,140,207,0,0,138,1,1.9,2,1,3
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2
237,60,1,0,140,293,0,0,170,0,1.2,1,2,3

In [32]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3

In [33]:
# y_preds=y predict
y_preds=clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [34]:
y_test

186    0
101    1
131    1
129    1
106    1
      ..
198    0
242    0
24     1
275    0
235    0
Name: target, Length: 61, dtype: int64

In [35]:
#4. evaluate the model on training data and test data

clf.score(X_train,y_train)

1.0

In [36]:
clf.score(X_test,y_test)

0.8852459016393442

In [37]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.90      0.87      0.88        30
           1       0.88      0.90      0.89        31

    accuracy                           0.89        61
   macro avg       0.89      0.88      0.89        61
weighted avg       0.89      0.89      0.89        61

In [38]:
confusion_matrix(y_test,y_preds)

array([[26,  4],
       [ 3, 28]], dtype=int64)

In [39]:
accuracy_score(y_test,y_preds)

0.8852459016393442

In [40]:
# 5.improve a model 
#try different amount of n_estimators
np.random.seed(42)
for i in range (10,100,10):
    print(f"tring model with {i} estimators")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"model accuracy on test set :{clf.score(X_test,y_test)*100:2f}%")
    print("")

tring model with 10 estimators
model accuracy on test set :78.688525%

tring model with 20 estimators
model accuracy on test set :85.245902%

tring model with 30 estimators
model accuracy on test set :81.967213%

tring model with 40 estimators
model accuracy on test set :86.885246%

tring model with 50 estimators
model accuracy on test set :83.606557%

tring model with 60 estimators
model accuracy on test set :83.606557%

tring model with 70 estimators
model accuracy on test set :81.967213%

tring model with 80 estimators
model accuracy on test set :86.885246%

tring model with 90 estimators
model accuracy on test set :80.327869%

In [41]:
#6 save a model and load it
import pickle

pickle.dump(clf,open("random_forest_model_1.pkl","wb"))
#wb=write binary

In [42]:
loaded_model=pickle.load(open("random_forest_model_1.pkl" ,"rb"))
#rb=read binaries
loaded_model.score(X_test,y_test)

0.8032786885245902